{% extends 'base.html' %}
{% block title %}Contact | FraudVision{% endblock %}

{% block content %}
<div class="page-section">
  <div class="container card">
    <h2 style="margin-bottom: 23px;">📞 Contact Us</h2>

    <p style="margin-bottom: 15px; margin-top: 0;">
      We'd love to hear from you! Whether it's feedback, bug reports, or suggestions for new features — don’t hesitate to get in touch.
    </p>

    <ul class="list">
      <li>📧 <strong>Email:</strong> 
        <a href="mailto:mksangwan2026@gmail.com" style="color: #00ffff;">mksangwan2026@gmail.com</a>
      </li>
      <li>💻 <strong>GitHub:</strong> 
        <a href="https://github.com/Mayank0204" target="_blank" style="color: #00ffff;">github.com/Mayank0204</a>
      </li>
      <li>🔗 <strong>LinkedIn:</strong> 
        <a href="https://www.linkedin.com/in/mayank-sangwan-ab6795279/" target="_blank" style="color: #00ffff;">linkedin.com/in/mayank-sangwan</a>
      </li>
      <li>📍 <strong>Location:</strong> Dehradun, India</li>
    </ul>
  </div>
</div>
{% endblock %}
